<div>
  <h1 class="title-animation">Productos</h1>
</div>

<div class="row justify-content-around">
  <div class="card mb-4" style="max-width: 350px;" *ngFor="let productos of  listProducts" >
    <div class="card-header d-flex align-items-center" style="height: 50%; flex: auto;" >
      <img src="{{productos.imgSrc}}" class="card-img-top" alt="...">
    </div>
    
    <div class="card-body" style="flex: none;">
      <h5 class="card-title">{{productos.nombre}}</h5>
      <p class="card-text">{{productos.descripcion}}</p>
      <p class="card-text"><small class="text-muted">{{productos.precio | currency}}</small></p>

      <a  class="btn btn-outline-success btn-block"> 
        Ver mas...
      </a>
    </div>
  </div>
</div>
