<div>
  <h1 class="title-animation">Marcas</h1>
</div>


<div class="row justify-content-around">
  <div class="card mb-4" style="max-width: 350px; min-width: 350px; width: 350px;" *ngFor="let marcas of  listMarcas" >
    <div class="card-header d-flex align-items-center" style="height: 50%; flex:auto;" >
      <img src="{{marcas.imgSrc}}" class="card-img-top" alt="{{marcas.nombre | titlecase}}">
    </div>
    
    <div class="card-body" style="flex: none;">
      <h5 class="card-title text-center m-0">{{marcas.nombre | titlecase}}</h5>
    </div>
  </div>
</div>
  
